*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  margin-left:2px;
  margin-right:2px;
}
.navbar
{
	padding-top:20;
}

.block1{
	text-align:center;
	font-weight:bold;
	font-weight:lighter;
	float:left;
	width:200;
	padding-top:25;
}
.topic2{
	font-size:20;
}

.imgg{
	vertical-align:middle;
	width:px;
	height:10;
}

.block3
{
	margin-top:15;
	margin-left:25px;
	text-align:center;
	padding-left:150px;
	height:100;
	background-color:lightgreen;
	
	width:500;
	padding-bottom:10;
	padding-top:10;

}
.block4
{
	margin-left:70px;
	margin-top:-12px;
	color:black;
	font-weight:lighter;
}
.b4{
	float:left;
	clear:left;
clear:right;
	vertical-align:sub;
	margin-left:38px;
	color:mauve;
	font:bold;
}
.block5
{
	margin-top:17px;
	width:250;
	background-color:white;
	
border:black solid 1px;
	
	
}
.im5
{
	float:left;
	width:85;
	clear:left;
	padding-top:3px;
	padding-bottom:20;
	padding-right:20px;
	padding-left:5px;
	
}
.b1
{
	float:left;
	color:white;
	background-color:purple;
	text-align:center;
	padding-top:3px;
	width:160px;
	
	height:30px;
	
	
	
	
}
.b1:hover{
	background-color:red;
}
.n1
{
float:left;
margin-top:30px;
margin-right:50px;
border:black solid 1px;

width:200px;
height:25px;	
}
.n2{
	float:left;
	margin-left:-80px;
	margin-top:30;
	background-color:lightgreen;
	width:60px;
height:25px;
color:white;
border:none;
}
.n3
{
	float:left;
	clear:left;
 margin-left:330px;	
  margin-top:-30px;	
 background-color:black;
 color:white;
 width:500px;
 height:40px;
 text-align:center;
}
.m{
	float:left;
	margin-left:150px;
	margin-top:-10px;
	
}
.n4
{
	float:left;
	margin-left:130px;
	margin-top:-10px;
	border-left:green solid 1px;
}
.block6
{
	background-image:url('NF1010_1.jpg');
	background-position:cover;
	background-size:400px;
    background-repeat:no-repeat;
	margin-top:5px;
	width:600px;
	height:350px;
	background-color:lightgray;
	float:left;
	clear:left;
	
}
.btn5{
	background-color:purple;
	color:white;
	height:25px;
	width:100px;
	font-size:14px;
	margin-left:400px;
	margin-top:-30px;
}
.rightt{
	margin-top:45px;	
}
.img2{
	margin-left:850px;
	margin-top:-355px;
	height:150px;
	width:600px;
}
.imgs{
	float:left;
	margin-top:-355px;
	margin-left:850px;
	width:400px;
}
.img3{
	height:73px;
}
.img4{
	width:243px;
}
.flowd1{
	color:grey;
		font-size:20px;
}
.flowd4{
	color:red;
	float: right;
	margin-right:300px;
	font-size:20px;
}
.count3{
	margin:10px;
}
.flow{
	width:320px;
height:300px;
float:left;
margin-left:10px;
margin-top:5px;
}
.flow img{
width:250px;
height:200px;
}
.flowd{
	margin-right:50px;
	margin-top:10px;
	text-align:center;
}
.flow2{
	width:390px;
height:300px;
float:left;
margin-left:50px;
margin-top:70px;
margin-bottom:60px;
}
.flow2 img{
width:380px;
height:200px;
}
.flowd3{
	margin-right:50px;
	margin-top:10px;
	text-align:center;
}
.btn6{
	color:white;
	background-color:green;
		border-style:none;
		height:30px;
		width:110px;
		font-size:15px;
}
.ss{margin-left:50px;
	font-weight:bold;

}


.choco
{
	padding-right:100px;
	padding-bottom:250px;
	
}
.best
{   padding-left:100px;
	padding-top:260px;
	
	}

.navbar a {
  float: left;
  text-decoration:none;
  text-align: center;
  color:none;
  

}



