.flowerlogo{

	float:left;
	
}
.row2
{   
	width:100%;
position:fixed;
margin-top:0px;
}
.bar
{ 
float:left;
width:10%;
margin-left:12px;
background-color:purple;

text-align:center;

}
.bar a{
	text-decoration:none;
	color:white;
}
.nos
{
	width:100%;
}
.ee
{
	float:left;
	margin-left:13px;
	width:30%;
}
.relative
{
	position:relative;
	padding-top:100px;
	margin-left:500;
}
.absolute
{
	position:absolute;
	margin-top:-80px;
	margin-left:100px;
	
	
}
