div.flowerlogo{
	font-family:"Lucida Console","Courier New",monospace;
	font-size:25pt;
	font-stretch:wider;
	white-space:pre;
	text-transform:uppercase;
	float:left;
	position:static;
	top:0
	
}
div.flowersat{
	font-family:"Lucida Console","Courier New",monospace;
	font-size:25pt;
	font-stretch:wider;
	white-space:pre;
    position:static;
	top:0;
	float:left
}
table{
	font-size:15pt
}
a.link:visited, a.link:link, a.link:active {text-decoration: none; color:purple;font-weight:bold }


div.bar{background-color:purple; color:white;
		 width:9%;
		 height:20px;
		 margin:1pt;
		 text-align:center;
		 padding:5pt;
		float:left;
	 }
div.bar:hover{background-color:red}

a.barlink:visited, a.barlink:link, a.barlink:active {text-decoration: none; color:white;  }
a.barlink:hover { font-style:bold ;}
a.flowerLink:visited, a.flowerLink:link, a.flowerLink:active {text-decoration: none; color:grey;  }

div p{
	font-size:5;
	white-space:pre;

}

div.div1{
	background-color:purple;
	float:left;
	color:white;
	white-space:pre;
	width:28% ;
	margin-left:50px;
	padding-left:15px;
	height:500px
}
div h1{
	display:inline
}
.div2{
	background-color:green;
	float:left;
	color:white;
	white-space:pre;
	width:29% ;
	margin-left:50px;
	padding-left:15px;
	height:500px

	
}
div.div3{
	margin-left:100px;
	white-space:pre;
	float:left;}
button.but1{
	background-color:green;
	color:white;
	width:250px;
	height:90px;
	font-size:25px;
	margin-left:250pt;
	

}
p.hi{
	white-space:pre;
	
}
div.div4{
	margin-left:190pt;
	white-space:pre;
	float:left;
	color:grey}
	